.InputBox
{
    position: relative;
    width: 250px;
}

.InputBox input
{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: #252839;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
}

.InputBox input:valid,
.InputBox input:focus
{
    border-color: #00dfc4;
}

.InputBox span
{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color:rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.7s;
}
.InputBox input:valid ~ span,
.InputBox input:focus ~ span
{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.8em;
    padding: 0px 10px;
    background-color: #252839;

}
