.ShadowCard 
{
    position: relative;
    width: 450px;
    height: 450px;
    background-color: #35394f;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}